input {
  background-color: #212733 !important;
  color: #d1d5db !important;
}

/* Chrome autofill fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #212733 inset !important;
  -webkit-text-fill-color: #d1d5db !important;
  caret-color: #d1d5db !important;
  transition: background-color 9999s ease-in-out 0s;
}